# Copy this file and remove the .dist extension to get it working.
# You will need to remove these comments.

{
    "coin_api_url": "https://api.coincap.io/v2",
    "db_connection": "Host=my_host;Database=my_db;Username=my_user;Password=my_pw""
}