.main-window{  
background: blue;
background-image: url('../assets/images/crypto_background.jpg');
background-size: cover;
}


.viewport {
  border: 0;
  border-radius: 0;
  /* background-color: BLUE; */
  /* margin: 0; */
  /* opacity: 0.3; */
  /* background-image: url('../assets/images/crypto_background.jpg');
  background-size: cover;  */
  background-color: rgba(24, 24, 24, 0.975);
  
}

/* .viewport-child {
  border: 0;
  background-color: rgba(24, 24, 24, 0);
} */

.button-color{
    background: #008170;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border-width: 0;
}

.button-color:hover {
    background: white;
    color: black;
}

.button-image {
    border-radius: 20px;
}

.logo-image{
  margin-top: 50px;
}
.entryBox {
border-radius: 10px;
background-color: #607274;
color: black;
}

.entryBox:focus{
background-color: white;
}

/* .viewport {
  background-color: #0F0F0F;
  border: 0;
} */
