.main-window{  
background: #0F0F0F;
}
/* .main-container {
background: #0F0F0F;
} */

.button-color{
    background: #008170;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border-width: 0;
}

.button-color:hover {
    background: white;
    color: black;
}

.button-image {
    border-radius: 20px;
}

.logo-image{
  margin-top: 50px;
}
.entryBox {
border-radius: 10px;
background-color: #607274;
color: black;
}

.entryBox:focus{
background-color: white;
}

.viewport {
  background-color: #0F0F0F;
  border: 0;
}
