.main-container {
background: #2A2E32;
}

.logo {

}

.title {
  
}

.entry-label{

  color: white;

}

.sign-up-button {
background: #008170;
border-radius: 20px;
color: white;
}
.sign-up-button:hover {
background: white;
color: black;
}

.sign-up-button-disable {
  background: grey;
}

.cancel-button{
background: #005B41;
border-radius: 20px;
color: white;
}

.cancel-button:hover {
background: white;
color: black;
}

.entryBox {
border-radius: 10px;
background: #f0eee9;
color: black;
}

.entryBox:focus{
background: white;
}
